In [1]:
# edit location to reflect bucket on GCP
data_from_file = sc.\
    textFile(
        "gs://st446-bucket-lx/data/author-large.txt", 
        4)

NameError: name 'sc' is not defined

In [7]:
data_from_file.take(5)

['Jurgen Annevelink\tModern Database Systems\tObject SQL - A Language for the Design and Implementation of Object Databases.\t1995',
 'Rafiul Ahad\tModern Database Systems\tObject SQL - A Language for the Design and Implementation of Object Databases.\t1995',
 'Amelia Carlson\tModern Database Systems\tObject SQL - A Language for the Design and Implementation of Object Databases.\t1995',
 'Daniel H. Fishman\tModern Database Systems\tObject SQL - A Language for the Design and Implementation of Object Databases.\t1995',
 'Michael L. Heytens\tModern Database Systems\tObject SQL - A Language for the Design and Implementation of Object Databases.\t1995']

In [103]:
import numpy as np
data_from_file_conv = data_from_file.map(lambda row: np.array(row.strip().split("\t")))
data_from_file_conv.take(5)

[array(['Jurgen Annevelink', 'Modern Database Systems',
        'Object SQL - A Language for the Design and Implementation of Object Databases.',
        '1995'], dtype='<U78'),
 array(['Rafiul Ahad', 'Modern Database Systems',
        'Object SQL - A Language for the Design and Implementation of Object Databases.',
        '1995'], dtype='<U78'),
 array(['Amelia Carlson', 'Modern Database Systems',
        'Object SQL - A Language for the Design and Implementation of Object Databases.',
        '1995'], dtype='<U78'),
 array(['Daniel H. Fishman', 'Modern Database Systems',
        'Object SQL - A Language for the Design and Implementation of Object Databases.',
        '1995'], dtype='<U78'),
 array(['Michael L. Heytens', 'Modern Database Systems',
        'Object SQL - A Language for the Design and Implementation of Object Databases.',
        '1995'], dtype='<U78')]

In [111]:
author_book1 = data_from_file_conv.map(lambda row: (row[2], row[0]))
author_book2 = data_from_file_conv.map(lambda row: (row[2], row[0]))
author_book1.take(5)

[('Object SQL - A Language for the Design and Implementation of Object Databases.',
  'Jurgen Annevelink'),
 ('Object SQL - A Language for the Design and Implementation of Object Databases.',
  'Rafiul Ahad'),
 ('Object SQL - A Language for the Design and Implementation of Object Databases.',
  'Amelia Carlson'),
 ('Object SQL - A Language for the Design and Implementation of Object Databases.',
  'Daniel H. Fishman'),
 ('Object SQL - A Language for the Design and Implementation of Object Databases.',
  'Michael L. Heytens')]

In [104]:
book_author_pair = author_book1.join(author_book2)
book_author_pair.take(5)

[('Schema Architecture of the UniSQL/M Multidatabase System',
  ('William Kelley', 'William Kelley')),
 ('Schema Architecture of the UniSQL/M Multidatabase System',
  ('William Kelley', 'Sunit K. Gala')),
 ('Schema Architecture of the UniSQL/M Multidatabase System',
  ('William Kelley', 'Won Kim')),
 ('Schema Architecture of the UniSQL/M Multidatabase System',
  ('William Kelley', 'Tom C. Reyes')),
 ('Schema Architecture of the UniSQL/M Multidatabase System',
  ('William Kelley', 'Bruce Graham'))]

In [114]:
def count_author_from_line(line):
    if (line[0]>=line[1]):
        return 0
    else:
        return 1

author_pair_counts = book_author_pair \
             .map(lambda line: (line[1],count_author_from_line(line[1])))\
             .sortByKey(ascending=True) \
             .reduceByKey(lambda a, b: a + b)
author_pair_counts.take(5)

[(('Bradley S. Carlson', 'C. Y. Roger Chen'), 2),
 (('Bradley S. Carlson', 'Yuan Hu'), 3),
 (('Bradley S. Paras', 'Chad D. Ciavarro'), 2),
 (('Bradley S. Paras', 'David Goodman'), 2),
 (('Bradley S. Peterson', 'Lawrence H. Staib'), 2)]

In [117]:
# 2. Sort the output

output = author_pair_counts.takeOrdered(10, key = lambda x: -x[1]) # this function sorts by key(value)

In [118]:
import pandas as pd

author_pair = []
count = []

for word, num in output:
    print (str(word) + ': ' + str(num))
    author_pair.append(str(word))
    count.append(num)
    
df_top10_author_pair = pd.DataFrame({"author_pair": author_pair,
                   "count": count})
display(df_top10_author_pair)

('Irith Pomeranz', 'Sudhakar M. Reddy'): 249
('Amr El Abbadi', 'Divyakant Agrawal'): 161
('Makoto Takizawa', 'Tomoya Enokido'): 141
('Didier Dubois', 'Henri Prade'): 122
('Elizabeth Chang', 'Tharam S. Dillon'): 118
('Hyun-Sung Kim', 'Kee-Young Yoo'): 111
('Mary Jane Irwin', 'Narayanan Vijaykrishnan'): 107
('Mahmut T. Kandemir', 'Mary Jane Irwin'): 100
('Chun Chen', 'Jiajun Bu'): 99
('Giuseppe De Giacomo', 'Maurizio Lenzerini'): 99

                                      author_pair  count
0         ('Irith Pomeranz', 'Sudhakar M. Reddy')    249
1          ('Amr El Abbadi', 'Divyakant Agrawal')    161
2           ('Makoto Takizawa', 'Tomoya Enokido')    141
3                ('Didier Dubois', 'Henri Prade')    122
4         ('Elizabeth Chang', 'Tharam S. Dillon')    118
5              ('Hyun-Sung Kim', 'Kee-Young Yoo')    111
6  ('Mary Jane Irwin', 'Narayanan Vijaykrishnan')    107
7       ('Mahmut T. Kandemir', 'Mary Jane Irwin')    100
8                      ('Chun Chen', 'Jiajun Bu')     99
9   ('Giuseppe De Giacomo', 'Maurizio Lenzerini')     99